.DS_Store
/node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
