@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@ibm/plex-sans-sc/css/ibm-plex-sans-sc-default.css';
@import "@fontsource/ibm-plex-mono";

@theme {
  --font-sans:
    'IBM Plex Sans SC', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-mono:
    'IBM Plex Mono', ui-monospace, monospace,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-rozemyne-50: #f1f7fd;
  --color-rozemyne-100: #dfedfa;
  --color-rozemyne-200: #c5e0f8;
  --color-rozemyne-300: #9eccf2;
  --color-rozemyne-400: #70afea;
  --color-rozemyne-500: #4e91e3;
  --color-rozemyne-600: #3976d7;
  --color-rozemyne-700: #3061c5;
  --color-rozemyne-800: #2d50a0;
  --color-rozemyne-900: #233b6c;
  --color-rozemyne-950: #1d2b4e;
}

html,
body {
  font-size: 20px;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
